<table border>
  <form method="post" action="/memos/<%= @id %>">
    <% @memos.each do |memo| %>
    <tr>
      <th>タイトル</th>
      <td><input type="text" name="title" size="50" value="<%= memo["title"] %>"></td>
    </tr>
    <tr>
      <th>メモ</th>
      <td><textarea name="content" rows="10" cols="50"><%= memo['content'] %></textarea></td>
    </tr>
    <% end %>
    <tr>
      <td><input type="submit" value="保存"></td>
      <input type="hidden" name="_method" value="patch">
    </tr>
  </form>
</table>
