<table border>
  <tr>
    <td>
      <form method="get" action="/memos">
        <input type="submit" value="戻る">
      </form>
    </td>
    <td>
      <form method="get" action="/memos/<%= @id %>/changes">
        <input type="submit" value="変更">
      </form>
    </td>
    <td>
      <form method="post" action="/memos/<%= @id %>">
        <input type="submit" value="削除">
        <input type="hidden" name="_method" value="delete">
      </form>
    </td>
  </tr>
</table>

<table border>
  <tr>
    <th>タイトル</th>
    <td><input type="text" name="title" size="50" readonly value="<%= CGI.escapeHTML(@memos[0]["title"]) %>"></td>
  </tr>
  <tr>
    <th>メモ</th>
    <td><textarea name="content" rows="10" cols="50" readonly><%= CGI.escapeHTML(@memos[0]['content']) %></textarea></td>
  </tr>
</table>
