
<table border>
  <form method="post" action="/memos/news">
  <tr>
    <th>タイトル</th>
    <td><input type="text" name="title" size="50"></td>
  </tr>
  <tr>
    <th>メモ</th>
    <td><textarea name="content" rows="10" cols="50"></textarea></td>
  </tr>
  <tr>
    <td><input type="submit" value="保存"></td>
  </tr>
  </form>
</table>
