<table border>
    <form method="get" action="/memos/news">
      <tr>
        <td><input type="submit" value="追加"></td>
      </tr>
    </form>
</table>

<table border>
  <tr>
    <th>タイトル</th>
  </tr>
  <% @memos.each do |memo| %>
  <tr>
    <td><a href="/memos/<%= memo['id'] %>"><%= CGI.escapeHTML(memo["title"]) %></a></td>
  </tr>
  <% end %>
</table>
